<?xml version="1.0"?>

<launch>
    <arg name="model" default="$(find pozyx)/sensor_description/urdf/solidworks_urdf/urdf/Part1.urdf"/>
    <arg name="gui" default="True" />
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

    <param name="robot_description" command="cat $(find pozyx)/sensor_description/urdf/solidworks_urdf/urdf/Part1.urdf" />
    <param name="use_gui" value="$(arg gui)"/>
    
   <node name="tranform_listener" pkg="pozyx" type="transformListener.py"/>
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
    
</launch>
