<launch>
	<master auto="start"/>

	<arg name="publish_rate"    value="15"/>
	<arg name="global_frame_id" value="map"/>
	<arg name="odom_frame_id"   value="odom"/>
	<arg name="initial_pose_a"  value="0.0"/>
	<arg name="initial_pose_x"  value="0.0"/>
	<arg name="initial_pose_y"  value="0.0"/>
	<arg name="scan_topic"      value="scan"/> 
	<arg name="map_topic"       value="map"/> 
	<arg name="base_frame_id"   value="base_link"/>
	<arg name="scan_frame_id"   value="ultra_scan"/>
	<arg name="map_file"        value="$(find world_description)/maps/01/map_01.yaml"/>
	
	<include file="$(find eurobot_bringup)/launch/minimal.launch" />
	<include file="$(find eurobot_bringup)/launch/sensors.launch" />

	<!--Run the map server using a static map-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

	<!-- Run AMCL -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<param name="use_map_topic" value="true"/>

		<!-- Publish scans from best pose at a max of 5 Hz -->
		<param name="odom_model_type" type="string" value="diff"/>
		<param name="odom_alpha5" type="double" value="0.1"/>
		<param name="gui_publish_rate" type="double" value="5.0"/>
		<param name="laser_max_beams" type="double" value="30"/>
		<param name="min_particles" type="double" value="50"/>
		<param name="max_particles" type="double" value="1000"/>
		<param name="kld_err" type="double" value="0.05"/>
		<param name="kld_z" type="double" value="0.99"/>
		<param name="odom_alpha1" type="double" value="0.2"/>
		<param name="odom_alpha2" type="double" value="0.2"/>
		
		<!-- translation std dev, m -->
		<param name="odom_alpha3" value="0.8"/>
		<param name="odom_alpha4" value="0.2"/>
		<param name="laser_z_hit" value="0.5"/>
		<param name="laser_z_short" value="0.05"/>
		<param name="laser_z_max" value="0.05"/>
		<param name="laser_z_rand" value="0.5"/>
		<param name="laser_sigma_hit" value="0.2"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_model_type" value="likelihood_field"/>
		
		<!-- <param name="laser_ṃodel_type" value="beam"/> -->
		<param name="laser_likelihood_max_dist" value="2.0"/>
		<param name="update_min_d" value="0.2"/>
		<param name="update_min_a" value="0.5"/>
		<param name="odom_frame_id" value="$(arg odom_frame_id)"/>
		<param name="resample_interval" value="1"/>
		<param name="recovery_alpha_slow" value="0.0"/>
		<param name="recovery_alpha_fast" value="0.0"/>

		<!-- Decrease tolerance because the computer can get quite busy -->
	    <param name="transform_tolerance" value="0.01"/>
	    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
	    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
	    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>

	    <remap from="scan" to="$(arg scan_topic)"/>
	</node>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	    <rosparam file="$(find robot_description)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find robot_description)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find robot_description)/config/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find robot_description)/config/global_costmap_params.yaml" command="load" />
	    <rosparam file="$(find robot_description)/config/base_local_planner_params.yaml" command="load" />
	</node>
</launch>